<p>&nbsp;</p>
<style>.placeImage { background-image: url(''https://files.e.gov.ph/elgu/9cf3ba50-0696-4794-8886-c40458b84ba9.jpg''); background-size: cover; }</style>
<style>body { background-image: url(''https://files.e.gov.ph/elgu/9cb16ee3-4d97-41b9-9957-6e73523e690e.png''); background-size: cover; }</style>
<div class="business-permit-section business-permit_template3">
<div class="business-permit-template-body" style="width: auto;">
<table class="m-0 table-bordered" style="border-collapse: collapse; height: 1305.99px; width: 100.026%; border-style: none;" border="0" width="100%">
<tbody>
<tr style="height: 140.365px;">
<td style="padding: 5.4pt 0pt; width: 26.1128%; border-style: none;">
<p class="lgu-profile-logo-wrapper text-center"><img style="float: right;" title="Bagong_Pilipinas_Logo.svg.png" src="blob:https://elgu-sabtang-batanes-core.e.gov.ph/18d9aaf3-2afd-409b-9555-3e941d7b0702" alt="" width="109" height="102"></p>
</td>
<td class="text-center" style="width: 51.6208%; border-style: none;" colspan="7">
<div class="lgu-profile-details text-center" style="line-height: 1.1; padding: 5.4pt; padding-right: 30px;">
<p class="m-0" style="text-align: center;"><strong>&nbsp;Republic of the Philippines</strong></p>
<p class="m-0" style="text-align: center;"><strong>&nbsp; SABTANG, BATANES</strong></p>
<p class="m-0" style="text-align: center;"><strong>&nbsp; &nbsp;BUSINESS PERMIT &amp; LICENSE OFFICE</strong></p>
</div>
</td>
<td style="width: 22.3826%; border-style: none;">
<div class="text-center" style="padding: 5.4pt;">
<p class="app-qr-code-wrapper" style="text-align: center;"><img title="433134155_421404717242286_197737526639568321_n-removebg-preview.png" src="blob:https://elgu-sabtang-batanes-core.e.gov.ph/75a90044-c23d-4190-8669-14a81a2ee4f7" alt="" width="109" height="109"></p>
</div>
</td>
</tr>
<tr style="height: 55.5903px;">
<td style="padding: 5.4pt 0pt; width: 100.116%; border-style: none;" colspan="9">
<div class="lgu-profile-details text-center" style="line-height: 1.1; padding: 5.4pt 30px 5.4pt 5.4pt; text-align: center;"><strong><span style="font-size: 18pt;">MAYOR'S PERMIT FOR BUSINESS</span></strong></div>
</td>
</tr>
<tr style="height: 1063.68px;">
<td style="padding: 5.4pt 0pt; width: 100.116%; border-style: none;" colspan="9">
<div class="lgu-profile-details text-center" style="line-height: 1.1; padding-top: 5.4pt; padding-bottom: 5.4pt; padding-right: 30px; text-align: center;"><strong>[region_name]</strong></div>
<div class="lgu-profile-details text-center" style="line-height: 1.1; padding-top: 5.4pt; padding-bottom: 5.4pt; padding-right: 30px;">&nbsp;</div>
<div class="lgu-profile-details text-center" style="line-height: 1.1; padding: 5.4pt 30px 5.4pt 5.4pt; text-align: center;"><span style="font-size: 10pt;">THIS PERMIT SHALL BE POSTED CONSPICUOUSLY AT THE PLACE WHERE BUSINESS IS BEING CONDUCTED AND SHALL BE PRESENTED / SURRENDERED TO COMPETENT AUTHORITY ON DEMAND. IT IS NOT TRANSFERABLE OR NOT ASSIGNABLE</span></div>
<div class="lgu-profile-details text-center" style="line-height: 1.1; padding: 5.4pt 30px 5.4pt 5.4pt; text-align: center;"><span style="font-size: 18pt;"><strong>[business_name]</strong></span></div>
<div class="lgu-profile-details text-center" style="line-height: 1.1; padding: 5.4pt 30px 5.4pt 5.4pt; text-align: center;"><strong><span style="font-size: 10pt;">Business Name/Trade Name</span><br></strong></div>
<div class="lgu-profile-details text-center" style="line-height: 1.1; padding: 5.4pt 30px 5.4pt 5.4pt; text-align: center;">&nbsp;</div>
<div class="lgu-profile-details text-center" style="line-height: 1.1; padding: 5.4pt 30px 5.4pt 5.4pt; text-align: center;"><span style="font-size: 14pt;"><strong>[business_line]</strong></span></div>
<div class="lgu-profile-details text-center" style="line-height: 1.1; padding: 5.4pt 30px 5.4pt 5.4pt; text-align: center;"><strong><span style="font-size: 13.3333px;">Business Activities</span></strong></div>
<div class="lgu-profile-details text-center" style="line-height: 1.1; padding: 5.4pt 30px 5.4pt 5.4pt; text-align: center;">&nbsp;</div>
<div class="lgu-profile-details text-center" style="line-height: 1.1; padding: 5.4pt 30px 5.4pt 5.4pt; text-align: center;"><span style="font-size: 18pt;"><strong>[owners_display_name]</strong></span></div>
<div class="lgu-profile-details text-center" style="line-height: 1.1; padding: 5.4pt 30px 5.4pt 5.4pt; text-align: center;"><strong><span style="font-size: 10pt;"><span style="font-size: 12pt;">Business Owner</span></span></strong></div>
<div class="lgu-profile-details text-center" style="line-height: 1.1; padding: 5.4pt 30px 5.4pt 5.4pt; text-align: center;"><span style="font-size: 10pt;">Should there be any misinterpretations in this application. We agree to immediate revocation of the business permit &amp; license and/or closure of the establishment with or without notice or hearing and shall not file any case whatever kind to question my revocation of the permit and/or closure of the establishment and shall hold the Municipal Government of <strong>SABTANG </strong>free and harmless from any civil, criminal and/or administrative liability arising from the taken on the application and/or the BPLO permit and license.</span></div>
<div class="lgu-profile-details text-center" style="line-height: 1.1; padding: 5.4pt 30px 5.4pt 5.4pt; text-align: center;">
<table style="border-collapse: collapse; width: 103.367%; height: 458.367px;" border="1"><colgroup><col style="width: 50.1437%;"><col style="width: 49.7795%;"></colgroup>
<tbody>
<tr style="height: 276.233px;">
<td style="vertical-align: top;">
<p>&nbsp;</p>
[fees]
<p>&nbsp;</p>
<table style="border-collapse: collapse; width: 100.337%; height: 101.152px; border-width: 1px; border-style: none;" border="1"><colgroup><col style="width: 50.0276%;"><col style="width: 49.7512%;"></colgroup>
<tbody>
<tr style="height: 20.3906px;">
<td style="border-style: none; text-align: left;"><span style="font-size: 10pt;">TOTAL</span></td>
<td style="border-style: none; text-align: left;"><span style="font-size: 10pt;"><strong>[amount]</strong></span></td>
</tr>
<tr style="height: 20.3906px;">
<td style="border-style: none; text-align: left;"><span style="font-size: 10pt;">BUSINESS STATUS</span></td>
<td style="border-style: none; text-align: left;"><span style="font-size: 10pt;"><strong>[transaction_type]</strong></span></td>
</tr>
<tr style="height: 20.3906px;">
<td style="border-style: none; text-align: left;"><span style="font-size: 10pt;">CAPITAL</span></td>
<td style="border-style: none; text-align: left;"><span style="font-size: 10pt;"><strong>[capital_amount_human]</strong></span></td>
</tr>
<tr style="height: 20.4102px;">
<td style="border-style: none; text-align: left;"><span style="font-size: 10pt;">AMOUNT PAID</span></td>
<td style="border-style: none; text-align: left;"><span style="font-size: 10pt;"><strong>[amount]</strong></span></td>
</tr>
<tr style="height: 19.5703px;">
<td style="border-style: none; text-align: left;"><span style="font-size: 10pt;">BUSINESS TAX</span></td>
<td style="border-style: none; text-align: left;"><strong><span style="font-size: 10pt;">[business_tax]</span></strong></td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<table style="border-collapse: collapse; width: 100.337%; height: 19.5833px; border-width: 1px; border-style: none;" border="1"><colgroup><col style="width: 50.2606%;"><col style="width: 49.7657%;"></colgroup>
<tbody>
<tr style="height: 19.5833px;">
<td style="border-style: none; text-align: left;"><span style="font-size: 10pt;">MODE OF PAYMENT</span></td>
<td style="border-style: none; text-align: left;"><strong><span style="font-size: 10pt;">[payment_channel]</span></strong></td>
</tr>
<tr>
<td style="border-style: none; text-align: left;"><span style="font-size: 10pt;">OFFICIAL RECEIPT NO.</span></td>
<td style="border-style: none; text-align: left;"><strong><span style="font-size: 10pt;">[or_no]</span></strong></td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
</td>
<td>
<p style="text-align: justify;"><br><span style="font-size: 10pt;">SUBSCRIBED AND SWORN TO ME THIS <strong>[printed_date]</strong> AT THE MUNICIPALITY OF <strong>SABTANG </strong>AFFIANT EXHIBITING TO ME HIS/HER COMMUNITY TAX CERTIFICATE NO.</span></p>
<p style="text-align: justify;">&nbsp;</p>
<p style="text-align: center;">&nbsp;</p>
<p style="text-align: left;"><span style="font-size: 12pt;"><strong>APPROVED BY:</strong></span></p>
<p style="text-align: left;">&nbsp;</p>
<p style="text-align: left;">&nbsp;</p>
<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center; top: 100px; ">[signatory_1_signature]</p>
<p style="text-align: center;"><strong>[signatory_1_name]</strong></p>
<p style="text-align: center;">[signatory_1_designation]</p>
</td>
</tr>
<tr style="height: 108.667px;">
<td>
<p style="text-align: center;"><strong>PERMIT VALIDITY UNTIL: <span style="font-size: 14pt;">[validity_date]</span></strong></p>
<p style="text-align: center;"><strong>BARANGAY: [office_barangay_name]</strong></p>
<p style="text-align: center;">&nbsp;</p>
</td>
<td>
<p>[office_display_address]</p>
<p>[office_zip_code]</p>
<p>[office_street]</p>
<p>[email_address]</p>
<p>[business_status]</p>
<p>&nbsp;</p>
</td>
</tr>
<tr style="height: 73.4667px;">
<td>
<p>Trade name: [trade_name]</p>
<p>Area: [area]</p>
<p>No. of Employees: [no_of_employees]</p>
<p>&nbsp;</p>
</td>
<td>
<p>CDA Number: <strong>[cda_no]</strong></p>
<p>SEC Number: <strong>[sec_no]</strong></p>
<p>DTI Number: <strong>[dti_no]</strong></p>
</td>
</tr>
</tbody>
</table>
</div>
<div class="lgu-profile-details text-center" style="line-height: 1.1; padding: 5.4pt 30px 5.4pt 5.4pt; text-align: center;">
<table style="border-collapse: collapse; width: 102.864%; height: 113.196px; border-style: none;" border="0"><colgroup><col style="width: 10.4991%;"><col style="width: 89.464%;"></colgroup>
<tbody>
<tr style="height: 55.5966px;">
<td style="vertical-align: top; border-style: none;"><span style="font-size: 10pt;">NOTE <span class="hljs-number">1</span>:</span></td>
<td style="text-align: justify; border-style: none;"><span style="font-size: 10pt;">THIS PERMIT ONLY A PRIVILEGE <span class="hljs-built_in">AND</span> <span class="hljs-built_in">NOT</span> A RIGHT. FAILURE <span class="hljs-keyword">TO</span> RENEW THIS PERMIT WITHIN THE PRESCRIBED SHALL SUBJECT THE TAXPAYER <span class="hljs-keyword">TO</span> TWENTY FIVE PERCENT (<span class="hljs-number">25%</span>) SURCHARGE <span class="hljs-built_in">AND</span> TWO (<span class="hljs-number">2%</span>) INTEREST PER MONTH.</span></td>
</tr>
<tr style="height: 37.9972px;">
<td style="vertical-align: top; border-style: none;"><span style="font-size: 10pt;">NOTE 2:</span></td>
<td style="text-align: justify; border-style: none;"><span style="font-size: 10pt;">SURRENDER THIS PERMIT UPON TERMINATION ON RETIREMENT OF BUSINESS TO AVOID TAX LIABILITY</span></td>
</tr>
<tr style="height: 19.6023px;">
<td style="vertical-align: top; border-style: none;"><span style="font-size: 10pt;">NOTE 3:</span></td>
<td style="text-align: justify; border-style: none;"><span style="font-size: 10pt;">NO ENCROACHMENT ON THE SIDEWALK.</span></td>
</tr>
</tbody>
</table>
</div>
</td>
</tr>
<tr style="height: 46.3542px;">
<td style="padding: 5.4pt 0pt; border-style: none; width: 100.116%;" colspan="9">
<div class="lgu-profile-details text-center" style="line-height: 1.1; padding-top: 5.4pt; padding-bottom: 5.4pt; padding-right: 30px;">&nbsp;</div>
</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
</div>
</div>
<style type="text/css">body {
        -webkit-print-color-adjust: exact;
    }
    .business-permit_template3 table {
        border-color: #365F91 !important;
        border-style: solid;
    }
    .business-permit_template3 tr, .business-permit_template3 td {
        border-color: #95B3D7 !important;
    }
   .business-permit_template3 table,
   .business-permit_template3 td,
   .business-permit_template3 div,
   .business-permit_template3 p,
   .business-permit_template3 span,
   .business-permit_template3 ol,
   .business-permit_template3 li {
       font-family: "Verdana","sans-serif" !important;
   }

   .business-permit_template3 p.MsoNormal { font-size: 9pt; }
   #business-permit-template-notes > p { font-size: 10pt !important; }
   .striped { background-color: #DBE5F1 !important; }
   .text-default { color: #365f91 !important; }
   .border-end-0 { border-right: 0 !important; }
   .border-start-0 { border-left: 0 !important; }
   .border-bottom-0 { border-bottom: 0 !important; }
   .border-top-0 { border-top: 0 !important; }
</style>