parameters:
    level: 6
    paths:
        - config/
        - core/
        - helpers/
        - middleware/
        - routes/
    excludePaths:
        - tests/
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
